.noBorderRadius {
  border-radius: 0px !important;
}
.centerHorizontally {
  display: flex;
  justify-content: center;
}

.LandingPage {
  height: 100vh;
}

.LandingPage .centerHorizontally {
  display: flex;
  justify-content: center;
}

.LandingPage .centerVertically {
  display: flex;
  align-items: center;
}

.LandingPage .displayFlex {
  display: flex;
}

.LandingPage .spaceBetween {
  display: flex;
  justify-content: space-between;
}
.LandingPage .sectionMargin {
  margin-top: 3%;
  margin-bottom: 3%;
}
.LandingPage .headerMargin {
  margin-top: 2%;
  margin-bottom: 6%;
}
