.DayCard .dayCardHeight {
  height: 80vh;
}

.DayCard .cardBackgroundAnimation {
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.DayCard .centerHorizontally {
  display: flex;
  justify-content: center;
}

.DayCard .dayCardPadding {
  padding: 3%;
}

.DayCard .grow {
  transition: all 0.2s ease-in-out;
}

.DayCard .grow:hover {
  transform: scale(1.01);
}
