.LandingPageHeader .displayFlex {
  display: flex;
}

.LandingPageHeader .spaceEvenly {
  display: flex;
  justify-content: space-evenly;
}

.LandingPageHeader .spaceBetween {
  display: flex;
  justify-content: space-evenly;
}

.LandingPageHeader .centerVertically {
  display: flex;
  align-items: center;
}

.LandingPageHeader .signupBtn {
  background: linear-gradient(270deg, #f857a6 0%, #ff5858 100%);
}
