.Home .spaceEvenly {
  display: flex;
  justify-content: space-evenly;
}

.Home .fullHeight {
  height: 100vh;
}

.Home .centerVertically {
  display: flex;
  align-items: center;
}

.noBorderRadius {
  border-radius: 0px !important;
}
